In [1]:
import pandas as pd
import numpy as np
import os

# Merge orders_products_prior and df_prods

In [2]:
path = r'/Users/satoruteshima/Documents/CareerFoundry/Data Immersion 4/08-2023 Instacart Basket Analysis'

In [13]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', '02 Prepared Data', 'orders_clean_checked.csv'), index_col = False)

In [4]:
df_ords_prior = pd.read_csv (os.path.join ( path, '02 Data', '01 Original Data', 'orders_products_prior.csv'), index_col = False)

In [12]:
#Check the dimensions of the imported dataframe.

df_ords_prior.shape

(32434489, 4)

In [19]:
df_ords.shape

(3421083, 9)

In [1]:
# Merge df_ords and df_ords_prior using order_id as a key 
df_merged_large = df_ords.merge(df_ords_prior, on = ['order_id'], indicator = left_only)

NameError: name 'df_ords' is not defined

In [22]:
df_merged_large.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [25]:
#value count of the df_merged_large
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## Export data to csv

df_merged_large.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.csv'))

## Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [29]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','02 Prepared Data', 'orders_products_combined.pkl'))

# TASKS

### import the orders_products_combined dataframe from the pickle file you just saved.

In [36]:
#import dataframe
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', '02 Prepared Data', 'orders_products_combined.pkl'))

In [37]:
#check shape
orders_products_combined.shape

(32434489, 13)

In [49]:
df_prods.shape

(49672, 6)

### Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [38]:
#import product dataset 
df_prods= pd.read_csv (os.path.join(path, '02 Data', '02 Prepared Data', 'products_checked.csv'))

In [39]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [40]:
orders_products_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,0,0,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,0,0,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,0,0,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,0,0,2539329,1,1,2,8,NaN,True,26405,5,0,both

- Looking at the columns, we see that product_id is present in both data sets. 
- We can use merge() using products_id as a key.

In [41]:
#merging df_prods and orders_products 

orders_products_combined = df_prods.merge(orders_products_combined, on = ['product_id'], indicator = True)

ValueError: Cannot use name of an existing column for indicator column

'ValueError: Cannot use name of an existing column for indicator column' 

- Following this error I am dropping the first _merge column from orders_products_combined

In [45]:
#drop _merge

orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

In [46]:
#try merging both datasets again. 
orders_products_combined = df_prods.merge(orders_products_combined, on = ['product_id'], indicator = True)

In [47]:
#count value of the indicator
orders_products_combined['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [52]:
#export the new combined dataset to pickle format 
orders_products_combined.to_pickle(os.path.join(path, '02 Data','02 Prepared Data', 'orders_products_combined_final.pkl'))