In [1]:
#import pandas, numpy and os
import pandas as pd
import numpy as np
import os

In [2]:
#define path

path = r'/Users/satoruteshima/Documents/CareerFoundry/Data Immersion 4/08-2023 Instacart Basket Analysis'

# IF STATEMENT

In [2]:
#add_sum function

def add_sum (x,y):
    sum = x+y
    return sum

In [3]:
#use add_sum function

add_sum(4,5)

9

# Sort Products Into Price Ranges

- If the item’s price is lower than or equal to 5 dollars, it will be labeled a _“low-range product.”_

- If the item’s price is above 5 dollars but lower than or equal to 15 dollars, it will be labeled a _“mid-range product.”_
- If the item’s price is above 15 dollars , it will be labeled a _“high-range product.”_

In [3]:
#import ords_prods_merged
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', '02 Prepared Data', 'orders_products_combined_final.pkl'))

In [4]:
#work with a subset that contains less data
df = ords_prods_merge[:1000000]

In [5]:
df.shape

(1000000, 18)

In [6]:
def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [7]:
#add price_range value row
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/y7/609s2c2s66d153pxhbp7hmhh0000gn/T/ipykernel_35271/119932705.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
df['price_range'].value_counts(dropna =False)

Mid-range product    652638
Low-range product    338018
High range             9344
Name: price_range, dtype: int64

In [9]:
#what's the maximum price? 
df['prices'].max()

24.5

# If-Statements with the loc() Function

Using loc(), you can apply the conditional logic of an if-statement to a function without explicitly creating an if-else construct.

In [10]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/y7/609s2c2s66d153pxhbp7hmhh0000gn/T/ipykernel_35271/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

- if = df.loc[df['prices'] > 15,
- then = 'price_range_loc'] = 'High-range product'

In [13]:
#count num of values
df['price_range_loc'].value_counts(dropna = False)

Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: price_range_loc, dtype: int64

# If-Statements with For-Loops

In [4]:
for x in range(1,80):
    print ('Lukas age is %d'  %(x) )

Lukas age is 1
Lukas age is 2
Lukas age is 3
Lukas age is 4
Lukas age is 5
Lukas age is 6
Lukas age is 7
Lukas age is 8
Lukas age is 9
Lukas age is 10
Lukas age is 11
Lukas age is 12
Lukas age is 13
Lukas age is 14
Lukas age is 15
Lukas age is 16
Lukas age is 17
Lukas age is 18
Lukas age is 19
Lukas age is 20
Lukas age is 21
Lukas age is 22
Lukas age is 23
Lukas age is 24
Lukas age is 25
Lukas age is 26
Lukas age is 27
Lukas age is 28
Lukas age is 29
Lukas age is 30
Lukas age is 31
Lukas age is 32
Lukas age is 33
Lukas age is 34
Lukas age is 35
Lukas age is 36
Lukas age is 37
Lukas age is 38
Lukas age is 39
Lukas age is 40
Lukas age is 41
Lukas age is 42
Lukas age is 43
Lukas age is 44
Lukas age is 45
Lukas age is 46
Lukas age is 47
Lukas age is 48
Lukas age is 49
Lukas age is 50
Lukas age is 51
Lukas age is 52
Lukas age is 53
Lukas age is 54
Lukas age is 55
Lukas age is 56
Lukas age is 57
Lukas age is 58
Lukas age is 59
Lukas age is 60
Lukas age is 61
Lukas age is 62
Lukas age is 63
Lukas age is 64
Lukas age is 65
Lukas age is 66
Lukas age is 67
Lukas age is 68
Lukas age is 69
Lukas age is 70
Lukas age is 71
Lukas age is 72
Lukas age is 73
Lukas age is 74
Lukas age is 75
Lukas age is 76
Lukas age is 77
Lukas age is 78
Lukas age is 79

%d is a place holder. %creates a string

In [14]:
ords_prods_merge['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

### Creating a busyness range using For-loop

In [15]:
result = []

for value in ords_prods_merge['orders_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value ==4:
        result.append('Least busy')
    else:
        result.append('Regular busy')

After running your loop, print the result list and see what shows up:

In [16]:
ords_prods_merge['busiest_day'] = result

In [17]:
ords_prods_merge['busiest_day'].value_counts(dropna = False)

Regular busy    22416875
Busiest day      6204182
Least busy       3783802
Name: busiest_day, dtype: int64

# Tasks

In [23]:
ords_prods_merge.head(1)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,new_customer,add_to_cart_order,reordered,_merge,busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Regular busy

In [22]:
ords_prods_merge = ords_prods_merge.drop(columns = ['Unnamed: 0_y'])

#### Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

Busiest day is 0 (Saturday) and the second busiest is 1 (Sunday). 
Slowest day is 4 (Wednesday) and the second slowest is 3 (Tuesday).

In [27]:
result2 = []

for value in ords_prods_merge['orders_day_of_week']:
    if value in (0,1):
        result2.append('Busiest day')
    elif value in (3,4):
        result2.append('Least busy')
    else:
        result2.append('Regular busy')

In [28]:
#add column 'busiest_days'
ords_prods_merge['busiest_days'] = result2

In [30]:
#drop 'busiest_day'
ords_prods_merge= ords_prods_merge.drop(columns = ['busiest_day'])

In [32]:
ords_prods_merge['busiest_days'].value_counts(dropna =False)

Regular busy    12916111
Busiest day     11864412
Least busy       7624336
Name: busiest_days, dtype: int64

#### Observation

- The value counts of busiest day and least busy are increased which suggests they are labeled correctly.

In [33]:
select_columns = ords_prods_merge[['orders_day_of_week', 'busiest_days']]

In [36]:
#making sure they are labeled at the right place 
select_columns.head(30)

    orders_day_of_week  busiest_days
0                    6  Regular busy
1                    6  Regular busy
2                    0   Busiest day
3                    3    Least busy
4                    4    Least busy
5                    1   Busiest day
6                    2  Regular busy
7                    3    Least busy
8                    1   Busiest day
9                    1   Busiest day
10                   5  Regular busy
11                   3    Least busy
12                   4    Least busy
13                   2  Regular busy
14                   3    Least busy
15                   2  Regular busy
16                   5  Regular busy
17                   2  Regular busy
18                   1   Busiest day
19                   1   Busiest day
20                   2  Regular busy
21                   1   Busiest day
22                   1   Busiest day
23                   1   Busiest day
24                   1   Busiest day
25                   0   Busiest day
26                   0   Busiest day
27                   0   Busiest day
28                   0   Busiest day
29                   0   Busiest day

#### When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [38]:
#check value counts of order_hour_of_day

ords_prods_merge['order_hour_of_day'].value_counts(dropna = False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

3 periods of time can be separated in 24/3 = 8. 

The counts above shows 

 - most orders = 10,11,14,15,13,12,16, 9 
 - average orders = 17,8,18,19,20,7,21,22
 - low orders = 23,6,0,1,5,2,4,3

In [44]:
# Use For-loops to create a new column

result3 = []

for x in ords_prods_merge['order_hour_of_day']:
    if x in (10,11,14,15,13,12,16, 9):
        result3.append('Most orders')
    if x in (17,8,18,19,20,7,21,22):
        result3.append('Average orders')
    if x in (23,6,0,1,5,2,4,3):
        result3.append('Fewest orders')

In [46]:
#add column
ords_prods_merge['most_orders'] = result3

In [47]:
#count values
ords_prods_merge['most_orders'].value_counts(dropna=False)

Most orders       21118071
Average orders     9997651
Fewest orders      1289137
Name: most_orders, dtype: int64

In [48]:
#export
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','02 Prepared Data', 'orders_products_new_values_added.pkl'))